<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/Img/weather.png">
    <link rel="stylesheet" href="./css/style.css">

</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Anas Mustafa. It uses mapbox.com and darksky.net!</p>
        <img class="portrait" src="./Img/Img1.png"> 
    </div>
    
    {{>footer}}
</body>

</html>